.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #020422;
  font-size: 16px;
  font-weight: 600;
  color: white;
  padding: 15px;
  text-align: left;
}

.App-link {
  color: #61dafb;
}

.App-body {
  /* background-color: #020422; */
  background: linear-gradient(20deg, #250f47, #020422);
  min-height: calc(100vh);
  color: white;
}

h2 {
  background-color: #020422;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
